node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unused Assets
assets/header.psd
assets/headermenu-1.jpg
assets/headermenu-2.jpg
assets/headermenu-3.jpeg
assets/headermenu-4.jpg
assets/headermenu-5.jpg
assets/headermenu-6.jpg
unused/

#Firebase deployment
.firebaserc
firebase.json
.firebase/*
.firebase
.vscode

.env